@using MiniShop.Models.Entity;
@model List<SubCategory>
@{
    ViewData["Title"] = "SubCategory List";
}
<div class="container">
    <div class="row">

        <div class="col-6 col-sm-12 col-md-6">
            <h2>SubCategory List</h2>
        </div>

        <div class="col-6 col-md-6 col-sm-12 mb-sm-2 text-sm-left text-md-right">
            <a asp-controller="SubCategory" asp-action="Create" class="btn btn-primary text-light">
                <i class="bi bi-plus-circle-dotted"></i> New SubCategory
            </a>
        </div>

        @if (Model == null || !Model.Any())
        {
            <div class="col-6">
                <h4>No sub category has been added yet.</h4>
            </div>
        }
        else
        {
            <table class="table-light table-striped table-bordered table-hover table-responsive-sm table-responsive-lg table-responsive-md">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category Type</th>
                        <th>Description</th>
                        <th>Modified Date</th>
                        <th>Created Date</th>
                        <th class="mr-3">Options</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var obj in Model)
                    {
                        <tr>
                            <td>@obj.Name</td>
                            <td>@obj.Category.Name</td>
                            <td>@obj.Description</td>
                            <td>@obj.ModifiedDate</td>
                            <td>@obj.CreatedDate</td>
                            <td class="ml-4">
                                <div class="row" role="group">
                                    <div class="d-flex align-items-center p-3">
                                        <a asp-controller="SubCategory" asp-action="Edit" asp-route-id="@obj.SubCategoryId" class="btn btn-warning ml-auto py-2">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a asp-controller="SubCategory" asp-action="Delete" asp-route-id="@obj.SubCategoryId" class="btn btn-danger ml-auto py-2">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </div>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }


    </div>
</div>